:root{
    --primary-color: #00a
}
.fontPrimary{
    color: #00a680;
    font-weight: bold;
}
.buttonStylePrimary{
    background-color:#00a680;
    font-weight: bold;
    border-radius: 5px;
    color: blue;

}

